/*27chan Chanokai v1.3*/

body {
  background: #282828;
  color: #EBDBB2B0;
}

div.post.reply {
  background: #363836B0;
  border-width: 0px;
}

.intro span.subject {
  color: #458588B0;
}

a, a:visited {
  color: #83a598B0;
}

span.heading {
  color: #CC241DBF;
}

hr {
  border-top-color: #92837420;
}

span.quote {
  color: #98971aB0;
}

span.spoiler {
  background: #1d2021;
  color: #1d2021B0;
}

div.post.reply div.body a {
  color: #f27768b3;
}

div.post.reply.highlighted{
  background: #464846B0;
}

.intro span.name {
  color: #d3869b60;
}

.intro a.email span.name {
  color: #4B4B6FB3
}

.desktop-style div.boardlist:not(.bottom){
  border-bottom: 0;
  background-color: #32302fDD;
  box-shadow: 0 5px 2px rgba(0, 0, 0, .15);
}

form table tr th {
  background: #3c3836;
  border: 0;
}

#options_div{
  background: #363836EF;
}

div.ban {
    background: transparent;
}

div.ban h2 {
    background: #83a5B8;
    border: 1px solid #83a5B8;
}

div.pages {
  color: #83a598B0;
  background: transparent;
  border-right: 0;
  border-bottom: 0;
}
